@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loader {
    transition: all 1.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 100;
}

.loader-hide {
    opacity: 0;
    z-index: -1000 !important;
}

#loader #loader-circle {
    width: 100px;
    height: 100px;
    border: 20px solid rgba(12, 8, 40, 0.779);
    border-radius: 50%;
    border-top-color: aquamarine;
    border-bottom-color: aquamarine;
    animation: loader-rotate 2s infinite linear;
}

@keyframes loader-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
